name: Run code
on:
  push: 
    branches:
     - master
    paths:
      - config/**
      - src/**
      - data/*
      - params.yaml
      - .github/workflows/dvc-pipeline.yaml
jobs:
  pipe:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout pipeline repo
      uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Configure AWSCLI Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID  }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY  }}
        aws-region: us-east-1
    - name: Install DVC
      uses: iterative/setup-dvc@v1
    - name: Pull latest pushed expriments
      run: dvc pull
    - name: Push the outcomes to DVC remote storage 
      run: dvc exp run
    - name: Commit changes in dvc.lock
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Commit changes in dvc.lock
        branch: pipeline
        file_pattern: dvc.lock
    
